.pagination-container {
  text-align: center;
  .ul-container {
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    li > button {
      font-size: 28px;
      width: 40px;
      height: 40px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(88, 88, 88);
      font-size: bold;
      &:hover {
        background-color: rgb(185, 185, 185);
      }
    }
  }
}
